<a href="https://colab.research.google.com/github/suya1357/SkillTreePython/blob/main/2_5_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%9E%90%EB%A3%8C%ED%98%95_%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-5.파이썬의 자료형:집합 
---
* 날짜: 2022-12-28
* 이름: 김희수

## 개념정리
---


수학에서 쓰이는 집합의 개념과 비슷하게 파이썬에서도 집합 (set) 을 사용할 수 있습니다. 
다른 군집 자료형과 달리 집합은 다음과 같은 특징을 가지고 있습니다. 

1. 중복 불허용
2. 순서 없음

이 특징들에 대해 개념을 공부하며 자세히 알아보도록 합니다.

### **(1) 생성**

괄호 `{ }` 를 통해서 집합을 생성 할 수 있습니다. 

```
a = {1,2,3}
type(a)
```

In [5]:
# []리스트, ()튜플, {}집합합
a = {1,2,3} #a = set()
type(a)

TypeError: ignored

#### **집합의 요소**

집합의 요소로는 문자열, 수치자료형, 튜플이 가능합니다. 

```
a = {'a', 1, 0.5, (2,3)}
print(a)
```

In [2]:
a = {'a', 1, 0.5, (2,3)}
print(a)

{0.5, 1, 'a', (2, 3)}

다른 군집 자료형 (리스트, 딕셔너리, 집합) 등은 에러 메시지가 뜹니다. 
 
```
a = {'a', 1, 0.5, [1,2]}
print(a)
```

In [3]:
a = {'a', 1, 0.5, [1,2]}
print(a)

TypeError: ignored

### **(2) 집합의 특징**

다른 군집자료형(문자열, 리스트, 튜플, 딕셔너리)과 다른 집합만의 특징은 두가지가 있습니다.

* 중복을 불허용
* 순서가 없음

#### **중복불허용**

집합에는 중복되는 값이 존재 하지 않습니다. 따라서 아래와 같이 초기값으로 중복된 요소를 넣더라도 중복값은 자동적으로 제거됩니다. 

```
a = {1,2,2,2,3}
print(a)
```

In [6]:
a = {1,2,2,2,3}
print(a)

{1, 2, 3}

이러한 특징을 가지고 있기 때문에 다른 군집 자료형에 대해 중복을 제거하기 위해 집합으로 바꾸기도 합니다. 

```
a_list = [1,2,3,2]
a = set(a_list)
a_list = list(a)
print(a_list)
```

In [9]:
a_list = [1,2,3,2]
print(a_list)
a = set(a_list) # 집합으로 바꾼 순간 중복은 삭제제
a_list = list(a) # 다시 리스트로 변환환
print(a_list)

[1, 2, 3, 2]
[1, 2, 3]

#### **순서없음**

집합에는 순서 개념이 없습니다. 따라서 군집 자료형을 집합으로 만드는 순간 자동으로 정렬됩니다.

```
a = {3,2,1}
print(a)
```

In [10]:
a = {3,2,1}
print(a)  # 정렬기능이 아니라 보여주기식이기때문에 정렬이 필요하면 솔티드기능 사용할것.

{1, 2, 3}

집합 자료형에는 순서가 없기 때문에 인덱싱과 슬라이싱을 사용 할 수 없습니다. 


```
a = {1,2,3,4}
a[0]
```

In [11]:
a = {1,2,3,4}
a[0]

TypeError: ignored

눈치채내 분들 있을지 모르겠지만 집합으로 정의하면 요소들이 자동적으로 정렬되는 것을 볼 수 있습니다.

```
a = {2,3,1,2,6}
print(a)
```

In [13]:
a = {2,3,1,2,6}
print(a)

{1, 2, 3, 6}

그러나 집합이 정렬 기능을 제공하는 것은 아님을 명심해야 합니다. 정렬 함수 `sorted` 나 `.sort`를 사용하세요.

```
a = {'orange', 'apple', 'banana'}
print(a)
```

In [15]:
a = {'orange', 'apple', 'banana'}
print(a)

{'banana', 'apple', 'orange'}

### **(3) 집합의 연산**

리스트나 튜플과 달리 집합은 `+` 나 * 연산이 불가능 합니다. 하지만 수학적 집합 개념과 마찬가지로 교집합, 합집합 차집합의 연산을 할 수 있습니다.


#### **교집합**

집합 `a`와 집합 `B`의 교집합을 구합니다. 참고로 `&`기호는 대부분의 언어에서 `and` 를 뜻합니다. 

* `a&b`  
* `a.intersection(b)` 


```
a = {1,2,3}
b = {3,4,5}

print(a & b, a.intersection(b), b.intersection(a))
```

In [20]:
a = {1,2,3}
b = {3,4,5}
print(a & b, a.intersection(b), b.intersection(a))

{3} {3} {3}

#### **합집합**

집합 `a`와 집합 `B`의 합집합을 구합니다. 참고로 `|`기호는 대부분의 언어에서 `or` 를 뜻합니다. 

* `a|b`  
* `a.union(b)` 

```
a = set([1,2,3])
b = set([3,4,5])
a | b, a.union(b), b.union(a) # a U b
```

#### **차집합**

집합 `a`와 집합 `B`의 차집합을 구합니다.

* `a-b`
* `a.difference(b)`

```
a = set([1,2,3])
b = set([3,4,5])
print( a-b, a.difference(b) )
print( b-a, b.difference(a) )
```

In [30]:
a = set([1,2,3])
b = set([3,4,5])
print( a-b, a.difference(b) )
print( b-a, b.difference(a) )

{1, 2} {1, 2}
{4, 5} {4, 5}

### **(4) 관련 메서드**

#### **내장함수**

다른 군집 자료형과 마찬가지로 내장함수를 사용할 수 있습니다.

* `len()`: 길이를 구합니다.
* `max()`: 최대값을 구합니다.
* `min()`: 최소값을 구합니다.
* `sum()`: 모든값을 더합니다.

```
a = {1,2,3,5}
len(a), max(a), min(a), sum(a)
```

In [21]:
a = {1,2,3,5}
len(a), max(a), min(a), sum(a)

(4, 5, 1, 11)

* `set()`: 집합 자료형으로 변환합니다.

```
a = [1,2,2,2,3,4,4]
set(a)
```


#### **기타 메서드**

*  `a.add(b)` : 집합 `a` 에 요소 `b`를 추가합니다.

리스트의 `append()` 기능과 유사합니다. 집합에 값을 하나 추가합니다. 다만 `append()`는 마지막에 값이 추가되는거와 달리 집합에서는 정렬된 위치에 값이 추가됩니다.

```
a ={1,2,3,5}
a.add(4)
print(a)
```

In [22]:
a ={1,2,3,5}
a.add(4)
print(a)

{1, 2, 3, 4, 5}

* `a.update([b, c, ..])` : 집합 `a`에 여러개의 요소를 추가합니다.

```
a = {1,2,3,5}
a.update([6,7,8])
print(a)
```

In [23]:
a = {1,2,3,5}
a.update([6,7,8])
print(a)

{1, 2, 3, 5, 6, 7, 8}

* `a.remove(b)` : 집합 `a`에서 요소 `b`를 제거합니다.

```
a = {1,2,3,5}
a.remove(2)
print(a)
```

In [24]:
a = {1,2,3,5}
a.remove(2)
print(a)

{1, 3, 5}

만약 `a`에 포함되어 있지 않은 요소를 제거하면 에러 메시지가 뜹니다.

```
a = {1,2,3,5}
a.remove(4)
print(a)
```

## 문제풀이
---

**예제 01**

부분 집합 A,B,C가 아래와 같습니다. 집합 A,B,C를 정의하세요

```
A = {1,2,3,5}
B = {1,2,3,4}
C = {1,3,4,6}
```

In [25]:
A = {1,2,3,5}
B = {1,2,3,4}
C = {1,3,4,6}

**예제 02**

다음을 계산하세요.

$$ A \cup C$$

In [27]:
A.union(B)

{1, 2, 3, 4, 5}

**예제 03**

다음을 계산하세요.

$$ A-(B \cap C)$$

In [28]:
A-(B.intersection(C))

{2, 5}

**예제 04**

다음을 계산하세요.

$$ (A-B) \cup (B \cup C)$$

In [29]:
(A-B).union((B.union(C)))

{1, 2, 3, 4, 5, 6}

**예제 05**

아래 결과의 모든 요소의 개수를 구하세요

$$(A \cap B) \cup (B \cap C) $$

In [38]:
len(A.intersection(B).union(B.intersection(C)))

4


**예제 06**

아래 결과의 모든 요소의 합을 구하세요

$$(B - A) \cup (A \cup C) $$

In [39]:
sum((B-A).union(A.union(C)))

21

**예제 07**

집합 `S` 가 아래와 같이 정의되어 있을 때 짝수를 제거하고 출력하세요.

```
S = {1,3,4,5,7,9,10}
```

In [48]:
S = {1,3,4,5,7,9,10}
S.remove(4)
S.remove(10) # S.remove(4,10) 2개값을 동시에 제거 못함함
print(S)

{1, 3, 5, 7, 9}

**예제 08**

`예제 07` 에서 얻은 `S`에 15까지의 모든 홀수를 추가하고 출력하세요.

In [49]:
S.update([11,13,15])
print(S)

{1, 3, 5, 7, 9, 11, 13, 15}

**예제 09**

아래와 같이 리스트가 정의되어 있습니다. 이 리스트에 포함된 숫자의 종류는 몇개인지 구하는 코드를 작성하세요

```
long_list = [5,3,2,3,4,3,4,5,6,67,7,5,3,4,32,24,42,5,6,8,5,5,5,5,3,3,3,56,3,3,6,7,5,8,8,7,34,55,682,232,7,87,8,5,4,32,12,21,2,2,5,4,5,355,2]
```

In [51]:
long_list = [5,3,2,3,4,3,4,5,6,67,7,5,3,4,32,24,42,5,6,8,5,5,5,5,3,3,3,56,3,3,6,7,5,8,8,7,34,55,682,232,7,87,8,5,4,32,12,21,2,2,5,4,5,355,2]
a = set(long_list)
print(a)
print(len(a))

{2, 3, 4, 5, 6, 7, 8, 12, 21, 24, 32, 34, 42, 682, 55, 56, 67, 87, 355, 232}
20

**예제 10**

사용자가 정수 `n`을 입력하면 위에서 정의한 리스트에서 `n`번째로 큰 숫자를 출력하는 코드를 작성하세요 (0번째부터 시작, 중복 없이 `n`번째 큰 숫자를 출력합니다.)

In [57]:
b = int(input())
long_list = [5,3,2,3,4,3,4,5,6,67,7,5,3,4,32,24,42,5,6,8,5,5,5,5,3,3,3,56,3,3,6,7,5,8,8,7,34,55,682,232,7,87,8,5,4,32,12,21,2,2,5,4,5,355,2]
long_list1 = set(long_list)
c = sorted(long_list1, reverse=True)
print(f'{b}번째로 큰 숫자는 {c[b]}')

0
0번째로 큰 숫자는 682